@model IEnumerable<AgentTourPackage>

<table  class="table table-bordered" id="agentTourPackageTable">
    <thead class="table-light">
        <tr>  
            <th>
                @Html.DisplayNameFor(model => model.TourPackage.PackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourPackage.CostPerPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourPackage.TourTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourPackage.PackageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourPackage.CostPerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourPackage.TourTime)
            </td>
            <td>
                    <button type="button" class="btn btn-primary btn-sm rounded-circle"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger btn-sm rounded-circle"><i class="bi bi-trash"></i></button>
                </td>
        </tr>
}
    </tbody>
</table>
